#searchBar{
  height: 20px;
  width: 250px;
}
.modalBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsMain{
  position: relative;
  bottom: -7px;
  overflow: hidden;
  min-height: 550px;
}