#searchBar{
  height: 20px;
  width: 250px;
}
.modalBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
}

.resultsMain{
  position: absolute;
  max-height: 250px;
}

.poster_HL{
  height: 150px;
  width: 100px;
}

.selected_movie_div{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 44px;
  justify-content: center;
}