#searchBar{
  height: 20px;
  width: 250px;
}
.modalBody{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsMain{
  position: absolute;
  max-height: 250px;
}

.poster_HL{
  height: 150px;
}